/* (c) Copyright 2000-2016 cmsbox GmbH, Bern, Switzerland. All Rights Reserved. */
/* Date: 2016-09-20T08:01:06.069365 */

html,body,div,span,a,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,abbr,code,em,img,strong,b,i,dl,dt,dd,ol,ul,li,hr,fieldset,form,input,textarea,button,label,legend,table,tbody,tfoot,thead,tr,th,td,audio,video{margin:0;padding:0;border:0 #fff}
html,body{height:100%}
body{overflow:auto;font-size:12px;font-family:arial,sans-serif;line-height:1.5em}
#desk{position:relative}
#root a:active,a:focus{outline:0}
img{display:block}
.stop{clear:both}
.menu{display:block}
a.zoom{display:block;position:relative}
img.zoom{top:50%;left:50%;position:absolute;width:35px!important;height:35px!important;margin:-18px 0 0 -17px!important}
.cb-mobile-access,.body-mobile,caption{display:none}
.body-non-mobile{display:block}
.area,.unit,.part{float:left}
.area{min-height:280px}
.wide{width:98%}
.slim{width:49%}
.main{width:66%}
.main h2,.main div.foot{margin:0 2%}
.main .part,.main .grid table{margin:.4em 2%}
.main .tall,.main .grid table{width:94%}
.main .tiny{width:45%}
div.side{width:33%}
.side h2,.side div.foot{margin:0 4%}
.side .part,.side .grid table{margin:.4em 4%}
.side .tall,.side .grid table{width:90%}
.side .tiny{width:41%}
.base{width:99%}
.base h2,.base div.foot{margin:0 1%}
.base .part,.base .grid table{margin:.4em 1%}
.base .tall,.base .grid table{width:96%}
.base .tiny{width:47%}
.unit{border:1px solid #fff}
.unit.scan{border-color:transparent!important}
.pure .head h2{border-bottom:1px solid #666}
.seam{border-color:#999}
.seam .head{color:#333;background:#ccc;border-bottom:1px solid #999}
.flat{color:#fff;background:#666}
.flat .head{border-bottom:1px solid #fff}
.edge{border-color:#999 #fff}
.edge .head{border-bottom:1px solid #999}
.unit>.body,.unit>form>.body,.part,.grid table,.cb-part-body{margin-top:.4em;margin-bottom:.4em}
.unit>.body,.unit>form>.body,.cb-part-body{float:left;min-height:2em;width:100%}
.fold>.body{min-height:0}
#root .lead{margin-bottom:0}
#root .list{margin-top:.2em;margin-bottom:.2em}
#root .line{margin-top:0;margin-bottom:0;padding:2px 0;font-size:0;line-height:0}
.unit .foot,.cb-part-foot{clear:both}
h1,h2{font-weight:400;font-size:2em}
h2{font-size:1.5em}
h3,h4,h5,h6{text-decoration:none;font-weight:bold}
strong{font-weight:bold}
.loud{padding:.2em .4em;background:#333;color:#fff}
.pale{color:#999;font-size:.9em}
.skew{letter-spacing:.03em;font-style:italic}
.code pre{font-family:monaco,'courier new',courier,monospace}
a{text-decoration:none}
a:hover,a:focus{text-decoration:underline}
.null{text-decoration:none!important;cursor:default}
.link>.open,.load>.load{display:block;margin-left:14px}
div.link{background:url(/icon-link/link.gif) no-repeat 0 5px}
div.mail{background:url(/icon-link/mail.gif) 0 4px}
div.rss{background:url(/icon-link/rss_small.gif) 0 4px}
div.load{background:url(/icon-link/file.gif) no-repeat 0 3px}
.link,.load{background-repeat:no-repeat!important}
.crop{position:relative;overflow:hidden;height:320px}
.crop>img{position:absolute;width:auto}
.plug{overflow:hidden;background-position:50%;background-repeat:no-repeat}
p.plug{max-width:100%;background-size:contain}
a.plug{display:block;overflow:hidden;width:100%;height:100%;background:url(/objects/flashplayer/images/adobe.png) no-repeat 50%;text-indent:100%;white-space:nowrap}
.flash,.flash embed,.flash object,.crossslide{width:100%;overflow:hidden}
div.flash>div{width:100%;height:100%}
.cb-youtube>.flash,.cb-youtube>.null{background:url('/icons/youtube_logo.png') no-repeat 50%}
.cb-vimeo>.flash,.cb-vimeo>.null{background:url('/icons/vimeo_logo.png') no-repeat 50%}
.cb-youtube>.cb-youtube,.cb-vimeo>.cb-vimeo{overflow:hidden}
.list>.item{display:list-item;list-style-position:outside}
.gist{margin-left:16px;list-style-type:disc}
.dent{margin-left:32px;list-style-type:circle}
.line>hr{overflow:hidden;height:1px;border-color:#333;border-top:0;border-right:0;border-left:0;color:#333;font-size:0;line-height:0}
.hair{border-bottom-style:solid}
.dash{border-bottom-style:dashed}
.spot{border-bottom-style:dotted}
.fine{border-bottom-width:1px}
.bold{border-bottom-width:2px}
.grid table{border-collapse:collapse}
.cb-table-layout-fixed{table-layout:fixed}
.grid td,.grid th{border:0 solid #999;vertical-align:top}
.horz td,.horz th{padding:1px}
.vert td,.vert th{padding:1px 4px}
.horz>.trim td,.horz>.trim th{border-width:1px 0}
.vert>.trim td,.vert>.trim th{border-width:0 1px}
.grid th{background:#ddd;text-align:left;font-weight:bold}
.vert>.beam td.odd,.horz>.beam>.odd>td{background:#eee}
table caption{display:none}
select,textarea,input.text,input.sign,input.password{padding:1px 0;border:1px solid;border-color:#999 #999 #ccc;font-weight:400;font-size:12px;font-family:'helvetica neue',helvetica,arial,sans-serif;line-height:16px}
input::-ms-clear{width:0;height:0}
textarea{overflow:auto;resize:vertical}
option{background:#eee;color:#666}
#root input,#root select,#root option,#root textarea{background:#fff;color:#333}
input.text,input.sign,input.password,textarea,input.hint,textarea.hint,input.capt{-webkit-box-shadow:0 2px 3px rgba(0,0,0,.1) inset;box-shadow:0 2px 3px rgba(0,0,0,0.1) inset}
select:focus,textarea:focus,input.text:focus,input.sign:focus,input.password:focus,input.hint:focus,textarea.hint:focus,input.capt:focus{outline:0;border-color:#99b5de;color:#99b5de;-webkit-box-shadow:0 0 3px rgba(153,181,222,.7);box-shadow:0 0 3px rgba(153,181,222,.7);-webkit-transition:-webkit-box-shadow .218s;-moz-transition:box-shadow .218s;-o-transition:box-shadow .218s;transition:box-shadow .218s}
input.text[disabled],input.password[disabled],input.sign[disabled],input.hint[disabled],textarea[disabled]{-webkit-box-shadow:none!important;box-shadow:none!important}
#root input.submit,#root button.cb-hybrid,#disp.cb-shoppingcart a.submit{padding:0 1em;border:1px solid;border-color:#ccc #777 #777 #ccc;background-color:#ebebeb;color:#333;text-align:center;font-size:12px;line-height:16px}
#root input.submit:hover,#root input.submit:focus,#root button.cb-hybrid:hover,#root button.cb-hybrid:focus,#disp.cb-shoppingcart a.submit:hover,#disp.cb-shoppingcart a.submit:focus{border-color:#aaa #555 #555 #aaa;cursor:pointer}
#root input.submit:active,#root button.cb-hybrid:active,#disp.cb-shoppingcart a.submit:active{outline:0;border-color:#777 #ccc #ccc #777;background-color:#ccc}
#root div.scan button.cb-hybrid{margin-top:5px}
div.form div.tick,div.form div.word{margin-bottom:1em;line-height:1.6em}
div.form div.foot,div.auth div.foot,.cb-newcmsbox-submit{padding-bottom:1em;text-align:right}
.form label.name,.auth label.name,.form span.name,.form img.capt,.cb-newcmsbox label{float:left;width:33%}
.form .chop,.form textarea,.form input.text,.auth input.text,.auth input.password{float:right;overflow:hidden;width:63%}
.form .ship .chop{overflow:visible!important}
.form .ship .chop>a{margin-left:8px}
.form textarea{overflow:auto}
.form select,.form .chop>input.file{float:right;width:100.3%}
.form .ctrl{float:right;width:63%}
.unit input.radio,.unit input.checkbox{background:none!important}
.form .ctrl .sign,.auth .ctrl .sign{display:block;margin-left:20px;line-height:19px}
.form .ctrl input.radio,.form .ctrl input.checkbox{float:left;margin-top:3px;width:20px}
.form .pile select,.form .pile textarea,.form .pile input.text,.form .pile input.file,.form .pile label.name,.form .pile span.name,.auth .pile input.text,.auth .pile input.password,.auth .pile label.name{display:block;float:none;width:99%}
.form .pile .ctrl,.auth .pile .ctrl,.form .pile .chop{width:100%}
#root input.hint{color:#999}
.cb-newcmsbox-container form>div{margin-top:.4em}
.cb-newcmsbox-newsletter>.checkbox{float:left;margin:.2em 4px 0 33%}
.cb-newcmsbox-newsletter label{width:60%}
.cb-newcmsbox-form{margin-bottom:.8em;width:100%}
.cb-newcmsbox-processing{padding-bottom:33px;background:url(/icons/newcmsbox-processing.gif) no-repeat 0 100%}
.fail{border-color:#e64246!important;color:#e64246!important}
div.fail{float:right;border:solid #e64246;border-width:1px 0}
div.fail,div.cb-lightbox-table ul.fail{background:#fff8f8 url(/icons/warning.png) no-repeat 100%}
#root div.cb-lightbox-table textarea.fail{background-image:none}
.fail>p.fail,.fail>li.fail,div.cb-lightbox-table ul.fail li{margin:2px 5px}
.fail>p.fail{font-weight:600}
.fail>li.fail,div.cb-lightbox-table ul.fail li{margin-left:15px;list-style:square outside}
select.fail{background-color:#fff8f8!important}
input.fail,textarea.fail{background:#fff8f8 url(/icons/warning.png) no-repeat 100%!important}
div.fail label.sign{width:90%}
.unit .fade{border-color:#ccc!important;background-color:#eee!important;-webkit-box-shadow:none;box-shadow:none;color:#999!important}
div.auth fieldset{float:left;margin:4px 0;width:100%}
#root div.auth div.foot{margin:0}
.dock{white-space:nowrap}
.dock>.meta{padding:0 .5em;text-decoration:none}
.flag{background:#ffea7c;color:#222}
#root div.scan form,#root div.scan fieldset{width:100%}
.scan>table{width:100%!important}
#root div.scan input,#root div.scan select{width:99%}
.scan span,.scan .cb-hybrid,.cats>p>.same,.cats>p>span>.cb-hybrid{padding:0 .3em}
.scan span>.cb-hybrid,.scan th>span,.scan th>.cb-hybrid,.scan span.foto,span.cb-count,.cats p>span{padding:0}
#root div.scan thead th{text-align:center;white-space:nowrap}
#root div.scan thead th.prev{text-align:left}
#root div.scan thead th.next{text-align:right}
#root div.tabs td,#root div.time td,#root div.beta td{text-align:center}
#root div.tabs a,#root div.tabs td span,#root div.time a,#root div.time td span{padding:0}
#root div.mese td{text-align:right}
#root div.mese tbody th{text-align:right}
.mese span,.mese .cb-hybrid{padding:0 .2em}
.cats li{list-style:none}
.cats>p>.same{background:0}
div.cats p a.same{color:#999}
div.cats p span.same{color:#333}
.scan li>.cb-hybrid:last-child,.scan td>.cb-hybrid:last-child{display:block}
.scan .same{background-color:#ddd}
.this .same{background-color:#900;color:#fff;text-decoration:none}
.font9{font-size:9px}
.font12{font-size:12px}
.font15{font-size:15px}
.font18{font-size:18px}
.font21{font-size:21px}
.font24{font-size:24px}
.font27{font-size:27px}
.font30{font-size:30px}
.font32{font-size:32px}
#over{position:absolute;top:0;left:0;z-index:999;overflow:hidden;width:100%;height:100%;background:url(/images/over.png)}
#disp{position:absolute;top:10%;left:50%;z-index:999;margin:0;margin-left:-163px;width:320px;border:3px solid #888;background:#fff;color:#444}
#disp a{color:#444}
.cb-disp-sent,.cb-disp-sent:hover{display:block;padding:.4em 0;text-align:left;text-decoration:none}
#disp a.capt{float:left}
#lbox #disp input.capt{float:right;width:176px}
#disp.onse{margin-left:-225px;width:450px}
#disp.onse div.body div.resp{overflow:auto;max-height:350px}
#disp.onse div.foot p{margin-bottom:12px}
#disp.onse div.wait{float:left;margin-bottom:8px;width:413px;border-bottom:2px solid #dedede}
#disp.onse div.wait div.resp{float:left;width:68%}
#disp.onse div.link{background:0}
#disp.onse div.link a{float:left;margin-left:0}
#disp.onse div.link p{float:right}
#disp.onse div.body div.ctrl{margin-left:70%}
#disp.onse div.body div.ctrl input.radio{float:left;margin:0 5px}
#disp.onse div.body div.ctrl label{float:left}
#disp.onse div.body div.ctrl div{float:left;width:124px}
#disp.mayo{margin-left:-263px;width:520px}
#frmSubsc_container{float:left;width:500px}
#frmSubsc{float:left;width:300px}
div.side-hint{display:block!important;float:left;margin-left:10px;width:190px}
div.side-hint h3{margin-bottom:.5em;padding:0 5px;border-bottom:1px solid #bbb;background-color:#eee}
div.side-hint p{margin-bottom:1em;padding:0 5px}
#disp.mayo div.foot{clear:both}
#disp.mayo select,#disp.mayo input,#disp.mayo textarea{font-family:'helvetica neue',helvetica,arial,sans-serif}
#disp.mayo ul li.mandatory label{font-weight:bold}
#disp.mayo #SpryGent label.radio{font-weight:normal}
#disp.mayo ul{list-style-type:none}
#disp.mayo ul li{float:left;margin-bottom:5px;width:300px}
div.mayo div.error-message{margin-bottom:10px;border:solid #e64246;border-width:0 4px;color:#e64246;text-align:center;letter-spacing:.025em}
div.mayo #SpryThm ul li{padding:5px 0;border:solid #ccc;border-width:1px 0;background-color:#efefef}
div.mayo #SpryThm ul li:hover{border-color:#888}
#disp.mayo #SpryThm ul li input.checkbox{float:left;margin:1px 0 0 15px}
#disp.mayo ul li ul.list-vertical label.checkbox,#disp.mayo ul li ul.list-vertical a.preview{display:block;margin-left:50px}
#disp.mayo ul li ul.list-vertical a.preview{padding-left:20px;background:url(/icons/eye.png) no-repeat 0}
#disp.mayo span.checkboxRequiredMsg,#disp.mayo span.radioRequiredMsg,#disp.mayo span.textfieldRequiredMsg,#disp.mayo span.textfieldRequiredMsg,#disp.mayo span.textfieldInvalidFormatMsg{display:none}
#lbox #SpryGent ul{float:left;width:300px}
#lbox #SpryGent ul li{float:left;margin:.15em 20px 0 0;width:auto}
#disp.mayo ul li select{display:block;margin-bottom:0;padding:1px 0;width:300px;border:1px solid;border-color:#999 #999 #ccc;font-size:inherit}
#disp.mayo ul li label.zip{float:left}
#disp.mayo ul li label.city{display:block}
#disp.mayo ul li input.size-l,#disp.mayo ul li input.size-xs,#disp.mayo ul li input.size-m{display:block;padding:1px 0;border:1px solid;border-color:#999 #999 #ccc;font-size:inherit;-webkit-box-shadow:0 2px 3px rgba(0,0,0,.1) inset;box-shadow:0 2px 3px rgba(0,0,0,0.1) inset}
#disp.mayo ul li input.size-l:focus,#disp.mayo ul li input.size-xs:focus,#disp.mayo ul li input.size-m:focus,#disp.mayo ul li select:focus{outline:0;border-color:#99b5de;-webkit-box-shadow:0 0 3px rgba(153,181,222,.7);box-shadow:0 0 3px rgba(153,181,222,.7)}
#disp.mayo ul li input.size-l{width:298px}
#disp.mayo ul li input.size-xs{float:left;margin-right:5px;width:65px}
#disp.mayo ul li input.size-m{float:left;width:226px}
#disp.mayo p.buttons{float:left;margin-top:15px;width:300px}
#disp.mayo p.buttons input.save{overflow:visible;padding:1px 0;width:100%;border:1px outset #ccc;background-color:#b66695;color:#fff;letter-spacing:.025em;font-size:inherit;cursor:pointer}
#disp.mayo p.buttons input.save:hover{border-color:#333}
#disp.mayo p.buttons input.save:active{border-style:inset;background-color:#9a557d}
#root #disp.mayo ul li.textfieldRequiredState input,#root #disp.mayo ul li.textfieldInvalidFormatState input,#lbox li.radioRequiredState ul{border-color:#e64246;background:#fff8f8 url(/icons/warning.png) no-repeat 100%;color:#e64246}
#disp.mayo ul li.checkboxRequiredState ul li{border-color:#e64246;background-color:#fff8f8}
#disp .head,#disp h2,.head a.quit{color:#444;line-height:36px}
#disp .head{position:relative;overflow:hidden;height:36px;background:#ddd}
#disp h2{float:left;margin:0 10px;width:80%;font-size:18px}
.head a.quit{float:right;width:36px;text-align:center;text-decoration:none!important;font-size:24px;font-family:arial,sans-serif;cursor:pointer}
.head a.quit:hover,.head a.quit:focus{color:#fff;text-decoration:none}
#disp .body{overflow:hidden;margin:10px;background:#fff}
#disp .body img{overflow:hidden;margin:0 auto}
#disp .body img.capt{width:auto}
#disp .mail,#disp select,#disp textarea,#disp .tick,#disp .text,#disp .file,#disp .password{display:block;margin-bottom:1em;width:298px}
#disp.impr .link,#disp.impr .text{margin:0}
#disp label.name{display:block;width:100%;font-weight:bold}
#disp textarea{height:160px}
#disp div.cb-additional-information textarea{overflow:scroll;height:auto}
#disp label.sign{float:right;width:278px}
#disp div.tack{float:right;width:20px}
#disp .foot{overflow:hidden;margin:0 10px;padding-bottom:.5em;text-align:left}
#disp.mail .foot{text-align:right}
#disp.shop .foot{padding:10px 0;border-top:1px solid #aaa}
#disp .submit{margin-right:1em}
#disp .conf,#disp.mail .submit{margin:0}
#disp div.foot p.prev{float:left;width:40%}
#disp div.foot p.next{float:right;width:40%;text-align:right}
#disp div.foot p.swap a{padding:0 .4em}
.cb-sitemap-target{overflow:hidden;padding-bottom:1em;color:#e64246;-ms-text-overflow:ellipsis;text-overflow:ellipsis;font-size:12px;line-height:1.2}
#disp.site>.body{overflow:auto;max-height:400px}
#disp.site ul li,div.cb-sitemap ul li{margin-left:16px}
#disp.srch th,#disp.srch td{padding:0 2px;vertical-align:top;text-align:left}
#disp.srch th>a,#disp.site li>a,div.cb-sitemap a{color:#333;text-decoration:none}
#disp.srch th>a:hover,#disp.srch th>a:focus,#disp.site li>a:hover,#disp.site li>a:focus,div.cb-sitemap a:hover{text-decoration:underline}
#disp.zoom{margin-left:-373px;width:740px}
#disp.zoom>.body .cb-hybrid{display:block}
#disp.zoom>.body img{margin:0 auto}
#disp.tube{margin-left:-333px;width:660px}
#disp.tube div.body div,#disp.tube div.body embed{width:640px;height:100%}
#disp .film p.plug{width:100%;height:100%}
.tube>.body>.part{margin:0!important}
div.payp input.numb,div.payp div.ctrl input.numb{float:left;margin-right:5px;width:20px}
#root div.pile p.name{display:block;float:none;width:100%}
div.payp p.name{float:left;width:40%}
div.payp div.ctrl{float:right}
div.payp div.ctrl div,div.payp form.payp{float:left}
#disp.shop a.agbs,.cb-agb>.agbs{float:left;overflow:hidden;margin-bottom:5px;padding:0 15px;background:url(/icon-small/pdf.gif) no-repeat 2px}
#disp.shop a.agbs+a{text-decoration:none;font-family:'helvetica neue';font-weight:bold;font-size:14px}
#disp .cb-agb fieldset{margin-bottom:10px}
#disp.shop select.tiny,#disp.cb-shoppingcart select.tiny{float:left;width:80px}
#disp.shop div.foot,#disp.cb-shoppingcart div.foot{clear:both}
.cb-shop-country label{margin-right:5px}
div.payp input.prix{float:left;margin-right:2px;width:45px}
div.payp span.cury{margin:0 4px}
#disp.shop{margin-left:-243px;width:480px}
.cb-shop-tabs{float:left;margin-top:10px}
.cb-shop-tabs>li{float:left;margin-right:5px;list-style:none}
.cb-shop-tab{display:block;padding:5px 5px 3px;background:#c6c6c6;text-decoration:none!important}
.cb-shop-tab.selected{background:#f5f5f5}
li.cb-shop-tab-contents{display:none}
li.cb-shop-tab-contents.selected{display:block}
#disp.cb-shoppingcart .cb-shop-country label,.cb-shop-exchange-rate>span{float:left}
#disp.cb-shoppingcart .cb-shop-country select{float:right}
#disp.shop .cb-shop-currency select,#disp.shop .cb-shop-countries select,#disp.shop .cb-shop-regions select{float:left;margin-right:5px;width:273px}
.cb-shop-exchange-rate{margin-bottom:8px}
#disp.shop h3,#disp.cb-shoppingcart h3{clear:both;margin-top:10px;margin-bottom:10px;padding:2px 5px;border-bottom:1px solid #aaa;background-color:#f5f5f5;color:#191919}
#disp.shop label.name{float:left;padding:1px 0}
#disp.shop label.name,#disp.shop .cb-shop-exchange-rate label.wide,#disp.shop fieldset.cb-shop-vat label.wide{width:160px}
#disp.shop .cb-shop-tab-contents fieldset{margin-bottom:.25em;margin-top:.25em}
#disp.shop fieldset.cb-shop-countries-link,#disp.shop fieldset.cb-shop-regions-link,#disp.shop fieldset.cb-shop-currency-link,#disp.shop fieldset.cb-shop-vat-link{margin-bottom:1.2em;margin-top:0}
#disp.shop input.file,#disp.shop input.text,#disp.shop select{margin-bottom:.5em;width:298px}
#disp.shop .cb-shop-vat input.text{margin-bottom:.25em}
#disp.shop input.file{float:left;margin-top:.5em}
#disp.shop input.zip{float:left;margin-right:5px;width:45px}
#disp.shop input.city{width:246px}
#disp.shop label.wide{width:273px}
#disp.shop input.tiny{float:left;margin:0 5px 0 0;width:60px;text-align:right}
#disp.shop .cb-shop-exchange-rate input.tiny{margin-left:10px}
.shop span.cury{float:left;padding:1px 0;width:1em}
#disp.shop .cb-shop-exchange-rate input.fail,#disp.shop .cb-shop-vat input.fail,#disp.cb-shoppingcart input.numb{background-position:0 0}
#disp.cb-shoppingcart{margin-left:-273px;width:500px}
#cb-footnotes{margin:10px 0;color:#999;text-align:center}
.cb-shoppingcart table{border-collapse:collapse}
.cb-shoppingcart th,.cb-shoppingcart td{padding:4px 3px}
.cb-shoppingcart th{border-bottom:2px solid #666;color:#222;vertical-align:bottom;text-align:left}
.cb-shoppingcart .hdpr{text-align:right}
.cb-shoppingcart td{border-bottom:1px solid #aaa;vertical-align:top}
.cb-shoppingcart .beam>.odd{background:0}
.cb-total-without-vat>td,.cb-total-with-vat>td{border:solid #666;border-width:2px 0;background-color:#f5f5f5;color:#222;font-weight:bold}
.cb-shoppingcart .cost{text-align:right}
.cb-shoppingcart .cury{margin-left:5px}
.shop .cb-shop-shipping-definition a{float:left;margin-right:5px}
.remo{display:block;overflow:hidden;width:18px;height:16px;background:url(/icons/cross.png) no-repeat;text-indent:100%;white-space:nowrap;font-size:0}
.remo:hover,.remo:focus{background-position:0 -22px}
.remo:active{background-position:0 -47px}
.cb-payment .radio{margin-right:4px}
.cb-payment>.fail{float:none}
.cb-shoppingcart .cb-address.bill,.cb-shoppingcart .cb-address.ship{float:left;margin-bottom:15px;width:195px}
.cb-shipping-definition-contents{display:none}
.cb-shipping-definition-selected .cb-shipping-definition-contents{display:block}
.cb-shop-shipping-definition-details{float:left;width:100%!important}
.cb-shipping-definitions-tabs{float:left;clear:left;margin:0 0 1em;background:#c6c6c6}
.cb-shipping-definition-tab{display:block;padding:.5em .8em;border-right:1px solid #aaa;text-decoration:none}
.cb-shipping-definition-tab:hover,.cb-shipping-definition-tab:focus{border-color:#c6c6c6;background:#f5f5f5}
.cb-shipping-definition-selected>.cb-shipping-definition-tab{border-color:#fff;background:#fff}
.cb-shipping-definitions-tabs{margin-right:5px;width:155px}
.cb-shipping-definitions-tabs>li{list-style:none}
.cb-shipping-definitions-tab-contents{float:right;width:298px;list-style:none}
.cb-shipping-ranges{table-layout:fixed}
.cb-shipping-range>th{text-align:left}
td.cb-shipping-range-label,td.cb-shipping-range-value{width:40%}
td.cb-shipping-range-action{width:20%}
.cb-shipping-definition-contents td{padding:1px}
#disp.shop .cb-shipping-ranges td input{width:auto}
.cb-shipping-range-action-link{margin-top:-4px}
.cb-address.bill{margin-right:10px}
fieldset.tiny{float:left;margin-right:10px}
label.tiny{float:left;width:20%}
p.tiny{float:left;width:80%}
label.tiny,label.tall{font-weight:bold}
label.tall,p.tall,.cb-shoppingcart .cb-address,.cb-shoppingcart .cb-additional-information,.cb-shoppingcart .cb-payment,.cb-shoppingcart .cb-order,.cb-shoppingcart .cb-sandbox,.cb-shoppingcart .cb-agb{float:left;width:100%}
fieldset.last{margin:0}
#disp.cb-shoppingcart .tiny>label.name{display:block;width:195px}
#disp.cb-shoppingcart .tiny>input.text,#disp.cb-shoppingcart .tiny>select{display:block;margin-bottom:.2em;width:193px}
div.cb-address fieldset.tall,div.cb-shoppingcart div.cb-additional-information fieldset.tall textarea,div.cb-shoppingcart div.cb-additional-information fieldset.tall input{width:478px!important}
div.cb-shoppingcart div.cb-address fieldset.tall,div.cb-shoppingcart div.cb-additional-information fieldset.tall{float:left;width:100%}
#disp.cb-shoppingcart div.cb-address fieldset.tall input.text{width:478px}
div.cb-shoppingcart div.cb-shipping-address-option{clear:both;margin:10px 0;padding:2px 0;border:1px solid #999;background-color:#ddd;color:#222;font-weight:bold}
div.cb-shoppingcart div.cb-shipping-address-option input.checkbox{margin:0 5px}
div.cb-shoppingcart div.cb-address p.cb-notice{margin-top:7px;color:#999}
.cb-shoppingcart .cb-address>a{display:block;clear:left}
#disp.cb-shoppingcart input.numb{margin:0;width:30px;text-align:right}
.cb-shoppingcart .agbs{margin-right:10px}
div.cb-shoppingcart fieldset div.fail{float:none}
div.cb-shoppingcart input.checkbox{margin-right:5px}
div.cb-shoppingcart input.cb-hybrid{margin-left:5px}
div.cb-payment input.cb-hybrid{margin:7px 0 0}
#root div.payp input.payp{padding:0;width:25px;height:25px;border:0;background:url(/icons/cart.png) no-repeat}
#root div.payp input.payp:hover{background-position:0 -30px}
#root div.payp input.success{background-position:0 -60px}
#root div.payp input.success:hover{background-position:0 -90px}
#root div.payp input.fade,#root div.payp input.fade:hover{background-color:transparent!important;background-position:0 -120px}
#root div.payp textarea{resize:none}
div.cb-price-comment,div.cb-price-comment textarea,div.cb-price-file,div.cb-price-file input{display:block;float:left;margin-bottom:2px;width:100%}
#root div.cb-price-comment textarea.hint{color:#ddd}
#disp.shop input.canc,#disp.cb-shoppingcart input.prev,#disp.cb-shoppingcart a.prev{float:left;margin-right:0}
#disp.shop input.conf,#disp.cb-shoppingcart input.next,#disp.cb-shoppingcart a.next{float:right;margin-right:0}
#disp.cb-shoppingcart input.next,#disp.cb-shoppingcart a.next{font-weight:bold}
#disp.cb-shoppingcart a.submit{text-decoration:none}
.cb-country-select-empty{appearance:none;-webkit-appearance:none;-moz-appearance:none;appearance:window;-webkit-appearance:window;-moz-appearance:window;border:0}
div.foto,.crossslideContainer{position:relative}
.foto img{margin:0 auto}
a.foto,span.foto{position:absolute;bottom:0;display:block;padding:0;width:100%}
.foto .part.desc{margin-top:0!important;margin-bottom:0!important}
.cb-strips table{border:solid #ddd;border-collapse:collapse;border-width:1px 0}
.cb-strips-container>.body{float:left;margin:.4em 0;width:100%}
.cb-strips-container{position:relative;width:100%;height:100%;float:left}
.cb-strips .prev,.cb-strips .next{width:18px}
.prev>.prev,.next>.next{height:18px}
.cb-strips .prev,.cb-strips .next{background-image:url(/icons/prev_next.png);background-repeat:no-repeat}
.cb-strips .prev{background-position:0 -54px}
.cb-strips td.prev,.cb-strips td.next{background:0}
.cb-strips a.prev{display:block;background-position:0 0}
.cb-strips a.prev:hover{background-position:0 -18px}
.cb-strips a.prev:active{background-position:0 -36px}
.cb-strips .next{background-position:-17px -54px}
.cb-strips a.next{display:block;background-position:-17px 0}
.cb-strips a.next:hover{background-position:-17px -18px}
.cb-strips a.next:active{background-position:-17px -36px}
.foto>.head{position:relative}
.cb-manual>.head>h2,#edit .cb-slideshow>.head>h2{padding-right:40px;min-height:24px}
#view .cb-manual .desc{position:relative}
#view .cb-manual .desc .norm{position:absolute;top:0;left:0}
.foto>.head>.ctrl,.cb-photoeditor>.head>.ctrl,div.zoom div.head div.ctrl{position:absolute;top:2px;right:8px;width:71px}
.foto>.head>.ctrl{width:35px}
div.zoom div.head div.ctrl{top:0;right:0}
.foto .ctrl>div,.zoom .ctrl>div,.cb-photoeditor .ctrl>div{float:right}
.zoom .ctrl div.prev,.zoom .ctrl div.next,.cb-photoeditor .ctrl div.prev,.cb-photoeditor .ctrl div.next{float:left;margin-top:8px}
.foto .ctrl div.prev,.zoom .ctrl div.prev,.cb-photoeditor .ctrl div.prev{float:left;width:18px;height:18px;background:url(/icons/prev_next.png) no-repeat 0 -54px}
.foto .ctrl .prev .cb-hybrid,.zoom .ctrl .prev .cb-hybrid,.cb-photoeditor .ctrl .prev .cb-hybrid{display:block;overflow:hidden;width:18px;height:18px;background:url(/icons/prev_next.png) no-repeat;text-indent:100%;white-space:nowrap;font-size:0}
.foto .ctrl .prev .cb-hybrid:hover,.zoom .ctrl .prev .cb-hybrid:hover,.cb-photoeditor .ctrl .prev .cb-hybrid:hover{background-position:0 -18px}
.foto .ctrl .prev .cb-hybrid:active,.zoom .ctrl .prev .cb-hybrid:active,.cb-photoeditor .ctrl .prev .cb-hybrid:active{background-position:0 -36px}
.foto .ctrl .prev .cb-hybrid.fade,.zoom .ctrl .prev .cb-hybrid.fade,.cb-photoeditor .ctrl .prev .cb-hybrid.fade{background-color:transparent!important;background-position:0 -54px;cursor:pointer}
.foto .ctrl div.next,.zoom .ctrl div.next,.cb-photoeditor .ctrl div.next{width:17px;height:18px;background:url(/icons/prev_next.png) no-repeat -18px -54px}
.foto .ctrl .next .cb-hybrid,.zoom .ctrl .next .cb-hybrid,.cb-photoeditor .ctrl .next .cb-hybrid{display:block;overflow:hidden;width:17px;height:18px;background:url(/icons/prev_next.png) no-repeat -18px 0;text-indent:100%;text-indent:-9000px;white-space:nowrap;font-size:0}
.foto .ctrl .next .cb-hybrid:hover,.zoom .ctrl .next .cb-hybrid:hover,.cb-photoeditor .ctrl .next .cb-hybrid:hover{background-position:-18px -18px}
.foto .ctrl .next .cb-hybrid:active,.zoom .ctrl .next .cb-hybrid:active,.zoom .ctrl .next .cb-hybrid:active{background-position:-18px -36px}
.foto .ctrl .next .cb-hybrid.fade,.zoom .ctrl .next .cb-hybrid.fade,.cb-photoeditor .ctrl .next .cb-hybrid.fade{background-color:transparent!important;background-position:-18px -54px;cursor:pointer}
.cb-photoeditor div>.button:first-child{margin-right:15px}
#root .foto .body .desc{float:left}
.foto .body .desc .part{float:none!important}
#root div.frum div.foot,#root div.frum div.foot h2,#root div.dlog div.foot,#root div.dlog div.foot h2{margin:0}
div.frum div.head{position:relative}
div.frum div.rss{position:absolute;top:6px;right:0;margin-right:8px;width:12px;height:12px;background-image:url(/icon-link/rss.gif);background-position:0 0}
#edit div.frum div.rss{background-image:url(/icon-link/rss_edit.gif)}
div.frum div.rss a{display:block}
div.frum div.rss a:hover{text-decoration:none}
#root div.frum table,#root div.dlog table{float:left;width:70%}
div.frum div.scan div.ctrl,div.dlog div.scan div.ctrl{text-align:right}
div.frum div.resp p.topi{float:left;width:60%}
div.frum div.resp span.topi{display:block;text-align:right}
div.frum div.resp div.link,div.dlog div.resp div.link{background-image:none;text-align:right}
div.frum div.resp div.link a.open,div.dlog div.resp div.link a.open{float:left;margin:0;width:60%;text-align:left}
div.frum div.resp div.link span{margin-left:5px}
div.frum div.topi p,div.frum div.topi div.link{margin:0 .5em}
div.frum div.topi{padding:.3em 0;border-bottom:1px solid #bbb;background-color:#efefef}
div.frum div.pend,div.dlog div.pend{color:#bbb}
div.frum div.ctrl a,div.dlog div.ctrl a{position:relative;overflow:hidden;padding:1px 8px;border:1px outset #ccc;background-color:#b66695;color:#fff;text-align:center;text-decoration:none;white-space:nowrap}
div.frum div.ctrl a:active,div.dlog div.ctrl a:active{border-style:inset;background-color:#9a557d}
#edit div.frum div.ctrl a.fade,#edit div.dlog div.ctrl a.fade{border:1px solid #ccc;background-color:#eee;color:#999}
div.frum div.ctrl a.back,div.frum div.ctrl a.resp{padding:1px 0;width:40%}
div.frum div.ctrl a.back{float:left}
div.frum div.ctrl a.resp{float:right}
div.frum div.link a{white-space:nowrap}
div.prog p,div.prog img{float:left;margin-bottom:10px;margin-left:10px}
div.tube *,div.cb-youtube *,div.cb-vimeo *,div.flic *{background-position:50%;background-repeat:no-repeat}
.cb-vimeo iframe,.cb-youtube iframe{width:100%;height:100%;display:block;border:0}
#edit div.pick div.tube,#edit div.pick div.cb-youtube,#edit div.pick div.cb-vimeo{background-image:none!important}
#root div.foto img.cb-loading,#root div.foto div.cb-loading,#root #disp img.cb-loading{overflow:hidden;outline:1px dashed #eee;background:#111 url(/icons/load.gif) no-repeat 50%;opacity:.35}
div.iris{background-image:url(/icon-link/iris.gif)!important;background-position:0 0}
.cb-twitter ul{list-style-type:none}
.cb-twitter li{margin-top:10px;padding-bottom:10px;border-bottom:1px solid #999}
.cb-twittercontainer span{font-size:.95em}
.cb-twitterfeed{display:block;padding:5px;background-color:#eee}
.cb-statistics .cb-loading,.cb-twittercontainer .cb-loading{margin:10px auto 25px;width:32px;height:32px;border-radius:5px;background:#111 url(/icons/load.gif) no-repeat 50%}
.cb-share a{float:left;margin-top:2px;margin-right:10px;padding-bottom:4px;width:16px;height:16px;background:url(../tools/email.png) no-repeat;text-indent:-9000px}
#root #edit .cb-share{overflow:hidden}
.cb-share a:hover{background-position:0 -20px}
.cb-share a:active{background-position:0 -40px}
.cb-share .cb-delicious{background-image:url(/icons/delicious.png)}
.cb-share .cb-digg{background-image:url(/icons/digg.png)}
.cb-share .cb-twitter{background-image:url(/icons/twitter.png)}
.cb-share .cb-facebook{background-image:url(/icons/facebook.png)}
.cb-share .cb-service{position:relative;float:left;margin-bottom:8px;padding:2px 5px 2px 0;height:24px}
.cb-share .cb-service-facebook-like,.cb-share .cb-service-facebook-recommend{margin-bottom:12px}
.cb-statistics .chartclient-annotation-table{font-size:12px}
.cb-statistic-annotation li{list-style:none}
.cb-statistics .ctrl{margin-bottom:10px;padding-bottom:5px;border-bottom:1px solid #ddd}
.cb-statistics .ctrl input{margin-right:5px}
.cb-statistics .ctrl label{margin-right:15px}
.cb-statistics .ctrl a{float:right}
#root .goog-custom-button-inner-box table,#root .chartclient-annotation-table,#root .annotatedtimelinetable{margin:0}
#root #scrollingListTd{padding:5px 0 5px 4px}
#root div.cb-statistics table.horz thead th{border-width:0 0 1px;border-color:#555;background-color:transparent}
#root div.cb-statistics table.horz tbody td{padding:2px 1px;border:solid #ddd;border-width:1px 0 0}
#root div.cb-statistics table.horz .odd td{background-color:#f9f9f9}
.cb-statistics .cb-visits{text-align:right}
.cb-invisible{display:none!important}
.hidden,.fake,.read{position:absolute;top:-9999px;left:-9999px;display:inline;overflow:hidden;width:0;height:0}
#root .cb-access,#root .cb-access a{display:inline;float:left;margin:0;padding:0;width:0;height:0}
body.cb-error{height:100%;background:#cacac3 url(http://www.cmsbox.com/images/wall.gif) repeat}
.cb-error p.clip{position:relative;top:40px;left:50%;margin-left:-160px;width:320px;height:auto}
.cb-error p.clip{padding-top:360px;background:transparent url(http://www.cmsbox.com/images/error.png) no-repeat}
.cb-error a.info{display:block;margin:12px;margin-right:28px;padding:5px 10px;border:2px solid #fff;background:#87004e}
.cb-error a.info{color:#fff;text-align:center;text-decoration:none;font-size:12px;font-family:'helvetica neue',arial,sans-serif}
.cb-error a:hover.info{background-color:#6b8912}
div.cb-form-sent{padding:4px 0;border:solid #408342;border-width:1px 0;background:0;text-align:center}
div.cb-form-sent a{color:#408342}
div.cb-form-timeout{padding:4px 0;border:solid #e64246;border-width:1px 0;background:0;text-align:center}
div.cb-form-timeout a{color:#e64246}
.cb-contentflow .body-non-mobile .part{width:96%;margin-left:2%;margin-right:2%;display:block;position:relative}
#meta_pref input,#meta_pref textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body.cb-error{height:100%;background:#cacac3 url(http://www.cmsbox.com/images/wall.gif) repeat 0 0}
.cb-error p.clip{width:320px;height:auto;position:relative;top:40px;left:50%;margin-left:-160px}
.cb-error p.clip{padding-top:360px;background:transparent url(http://www.cmsbox.com/images/error.png) no-repeat 0 0}
.cb-error a.info{display:block;background:#87004e;border:2px solid #fff;margin:12px;margin-right:28px;padding:5px 10px}
.cb-error a.info{font-family:"Helvetica Neue",Arial,sans-serif;font-size:12px;color:#fff;text-decoration:none;text-align:center}
.cb-error a:hover.info{background-color:#6b8912}
* html body.cb-error p.clip{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.cmsbox.com/images/error.png',sizingMethod='crop')}
