* {
	margin: 0;
	padding: 0;
}

body {
	color:#595959;
	background-color: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height:18px;
	font-weight:normal;
	font-style: normal;
	text-align:left;
	color: #333;
	font-size:15px;
}

h1 {
	color: #66c3ee;
	font-size: 33px;
	font-weight: 100;
	line-height: 40px;
}

h2 {
	font-size: 14px;
	line-height:18px;
	font-weight: bolder;
}

a:link, a:visited, a:focus {
	text-decoration: none;
	color: #68c4ee;
	outline: none;
}

a:hover, a:active {
	text-decoration: none;
	color: #3ab2e9;
}

a:focus {
  outline: none;
}

hr {
	background-color: #68c4ee; /* Farbe für Opera und Firefox */
	color: #68c4ee; /* Farbe für Internet Explorer (IE) */
	border: 1px;
	height: 1px;
	margin: 8px 0px 8px 0px;
}

ul {
	margin-top: 14px;
}

li {
	margin-left: 14px;
}

p {
	/*margin-bottom: 8px;*/
}

img {
	border:0px;
	vertical-align: middle;
}

nav {
	position: absolute;
	margin-top: 15px;
	margin-right:-507.5px;
	width: 307px;
	right:50%;
	top: 0px;
	z-index: 3;
	color:#FFF;
	font-weight: bold;
	font-size: 12px;
}

nav div:first-child{
	width: 100%;
	text-align: right;
}

header {
	position: fixed;
	margin-top: 15px;
	margin-left:-507.5px;
	width: 1015px;
	left:50%;
	top: 0px;
	z-index: 11;
}

.top_reg {
	position: fixed;
	width: 100%;
	left:0px;
	top: 0px;
	background: #1379de;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	height: 67px;
	z-index: 10;
}

article {
	position: absolute;
	margin-top: 15px;
	margin-left:-507.5px;
	padding-top: 220px;
	width: 1015px;
	left:50%;
	top: 0px;
	z-index: 3;
}

.home_top {
	width:  570px;
}

.video_wrapper {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 610px;
	z-index: 2;
	overflow: hidden;
	/* during registration*/
	background-position: center center;
	background-size: cover;
}

.video_blue {
	position: absolute;
	height: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background-image: linear-gradient(#5cb9eb, #00536d);
	opacity: .7;
	z-index: 1;
}

.zwish-video {
	position: relative;
	width: 100%;
	z-index: 0;
}

.slogan1 {
	color: #ffffff;
	font-size: 60px;
	font-weight: 300;
	line-height: 60px;
	text-shadow: 0 0 12px rgba(0,0,0,0.5);
}

.slogan2 {
	font-weight: bold;
	color: #ffffff;
	font-size: 22px;
	font-weight: bold;
	line-height: 20px;
	text-shadow: 0 0 12px rgba(0,0,0,0.5);
}



footer {
	position: absolute;
	margin-top: 620px;
	margin-left:-507.5px;
	width: 1015px;
	left:50%;
	z-index: 3;
}

input {
	font-size: 14px;
}

input[type=text], input[type=password] {
	border-radius: 4px;
	width: 100%;
	border: 1px solid #ccc;
	padding: .71429em .5em;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 2px 0px 7px 0px;
    box-sizing: border-box;
}

input[type=text]:focus {
	border: 1px solid #3ab2e9;
}

input[type=button], input[type=submit] {
	cursor: pointer;
	width: 100%;
	font-size: 0.75em;
	padding-bottom: 1.33333em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 1.33333em;
	border-radius: 3px;
	background: #66c3ee;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	position: relative;
	text-decoration: none;
    box-sizing: border-box;
	margin: 10px 0px 10px 0px;
	border: none;
}

input[type=file] {
	cursor: pointer;
	position: absolute;
	width: 440px;
	height: 50px;
	margin-top: -60px;
	background-color: red;
	opacity: 0;
}

.button_grey {
	background: #f7f7f7 !important;
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #dddddd 100%) !important;
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#dddddd 100%) !important;
	background: linear-gradient(to bottom,  #f7f7f7 0%,#dddddd 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dddddd',GradientType=0 ) !important;
	color: #333  !important;
	border: 1px solid #ddd !important;
}

.button_grey_hover { /*, .button_grey:hover*/
	background: rgb(249,249,249) !important;
	background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(239,239,239,1) 100%) !important;
	background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(239,239,239,1) 100%) !important;
	background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(239,239,239,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#efefef',GradientType=0 ) !important;
	color: #333  !important;
	border: 1px solid #ddd !important;
}

.button_grey:hover { /*, .button_grey:hover*/
	background: rgb(249,249,249) !important;
	background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(239,239,239,1) 100%) !important;
	background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(239,239,239,1) 100%) !important;
	background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(239,239,239,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#efefef',GradientType=0 ) !important;
	color: #333  !important;
	border: 1px solid #ddd !important;
}

.button_fick {
	background-color: #6985bc !important;
	background-color: -moz-linear-gradient(top,  #6985bc 0%, #3c5ca4 100%) !important;
	background-color: -webkit-linear-gradient(top,  #6985bc 0%,#3c5ca4 100%) !important;
	background-color: linear-gradient(to bottom,  #6985bc 0%,#3c5ca4 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6985bc', endColorstr='#3c5ca4',GradientType=0 ) !important;
	color: white !important;
	border: 1px solid #3c5ca4 !important;
	background-image: url(icons/fb.png) !important;
	background-repeat: no-repeat !important;
	background-position: 10px center !important;
}
.button_fick:hover {
	background-color: #6985bc !important;
	background-color: -moz-linear-gradient(top,  rgba(126,153,201,1) 0%, rgba(105,133,188,1) 100%) !important;
	background-color: -webkit-linear-gradient(top,  rgba(126,153,201,1) 0%,rgba(105,133,188,1) 100%) !important;
	background-color: linear-gradient(to bottom,  rgba(126,153,201,1) 0%,rgba(105,133,188,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e99c9', endColorstr='#6985bc',GradientType=0 ) !important;
	background-image: url(icons/fb.png) !important;
	background-repeat: no-repeat !important;
	background-position: 10px center !important;
}

.button_gp {
	background: #e06650 !important;
	background: -moz-linear-gradient(top,  #e06650 0%, #c63718 100%) !important;
	background: -webkit-linear-gradient(top,  #e06650 0%,#c63718 100%) !important;
	background: linear-gradient(to bottom,  #e06650 0%,#c63718 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e06650', endColorstr='#c63718',GradientType=0 ) !important;
	color: white !important;
	border: 1px solid #c63718 !important;
}

.button_gp:hover {
	background: rgb(234,122,103) !important;
	background: -moz-linear-gradient(top,  rgba(234,122,103,1) 0%, rgba(224,102,80,1) 100%) !important;
	background: -webkit-linear-gradient(top,  rgba(234,122,103,1) 0%,rgba(224,102,80,1) 100%) !important;
	background: linear-gradient(to bottom,  rgba(234,122,103,1) 0%,rgba(224,102,80,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea7a67', endColorstr='#e06650',GradientType=0 ) !important;
}

input[type=button]:hover, input[type=submit]:hover {
    background: #8dd0ef;
}

select {
	border-radius: 4px;
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	margin: 2px 0px 7px 0px;
    box-sizing: border-box;
	padding-left: 0.5em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    background: url(icons/arrow.png) right center no-repeat #eee;
	overflow-y: scroll;
}

/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) { 
    select {
        background:none;
        /*padding: 5px;*/
    }
}
/*
select:-moz-focusring {
    color: transparent;
    text-shadow:0 0 0 #000;
}*/

.bday_d {
	width: 80px;
	margin-right: 5px;
}

.bday_m {
	width: 120px;
	margin-right: 5px;
}

.bday_y {
	width: 90px;
}

option {
	width: 100%;
	/*padding: .71429em .5em;*/
	padding: 7px .5em;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
    box-sizing: border-box;
	border-bottom: 1px solid #a9a9a9;
}

.register_button {
	font-size: 18px !important;
	background: HSLA(346, 100%, 61%, 1) !important;
	padding: .71429em .5em !important;
}

.register_button:hover {
	font-size: 18px !important;
	background: HSLA(346, 67%, 48%, 1) !important;
	padding: .71429em .5em !important;
}

.legal {
	font-size:12px;
	line-height: 10px;
	text-shadow: 0 1px 2px #000;
}

.registerbox {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left:0px;
	background-color: rgba(0,0,0,0.5);
	z-index: 6;
}

.registerbox_popup {
	position: fixed;
	font-size: 16px;
	left:50%;
	top: 67px;
	margin-left:-512px;
	text-align: center;
	width: 1024px;
	min-height: 150px;
	background-color: #fff;
	z-index: 7;
	padding-bottom: 30px;
	-moz-box-shadow: 0px 0px 200px rgba(0, 181, 232, 0.2);
	-webkit-box-shadow: 0px 0px 200px rgba(0, 181, 232, 0.2);
	box-shadow: 0px 0px 200px rgba(0, 181, 232, 0.2);
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}

.registerbox_head {
	position: relative;
	top: 0px;
	right: 0px;
	bottom: 0px;
	height: 60px;
	padding: 20px 20px 20px 20px;
	background-color: #d0ebfb;
}

.registerbox_body {
	position: relative;
	right: 0px;
	bottom: 0px;
	padding: 20px;
}

.registerbox_body_box {
	display: inline-block;
	text-align: left;
	padding: 20px;
	width: 440px;
}

.result_label {
	position: relative;
	width: 100%;
	background-color: #111;
	border-radius: 5px;
	height: 10px;
	margin-bottom: 5px;
}

.result_bar {
	position: absolute;
	width: 1.5%;
	height: 100%;
	background: #00b5e8;
	border-radius: 4px;
	background-image: url(progress.gif);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.result_count {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 8px;
	z-index: 1;
	font-weight: bold;
	margin-top: -18px;
}